.main {
    align-content: center;
    text-align: center;
}
.unfortunately-the-sy {
    height: 254px;
    width: 100%;
    color: #575756;
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 200;
    line-height: 136px;
    text-align: center;
    align-content: center;
    margin-top: 0%;

}
.center-text {
    width: 100%;
    text-align: center;
    align-content: center;
}
.and-we-can-t-wait-to {
    height: 180px;
    width: 100%;
    color: #575756;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 200;
    line-height: 48px;
    text-align: center;
}

.contact-support {
    height: 180px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 200;
    line-height: 48px;
    text-align: center;
    color: #0085CD;
}
